<p id="notice"><%= notice %></p>

<h1>Libraryusers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Password digest</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @libraryusers.each do |libraryuser| %>
      <tr>
        <td><%= libraryuser.name %></td>
        <td><%= libraryuser.email %></td>
        <td><%= libraryuser.password_digest %></td>
        <td><%= link_to 'Show', libraryuser %></td>
        <td><%= link_to 'Edit', edit_libraryuser_path(libraryuser) %></td>
        <td><%= link_to 'Destroy', libraryuser, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Libraryuser', new_libraryuser_path %>
