<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @libraryuser.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @libraryuser.email %>
</p>



<%= link_to 'Edit', edit_libraryuser_path(@libraryuser) %> |
<%= link_to 'Back', root_path %>
