<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @libraryuser.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @libraryuser.email %>
</p>

<h3>Booking history</h3>

<% @bookings = Booking.where(libraryuser_id: @libraryuser.id) %>


<table>
  <thead>
    <tr>
      <th>Room No</th>
      <th>Date</th>
      <th>Start time</th>
      <th>End time</th>
      <%if admin_logged_in? %>
        <th colspan="3"> Booked by </th>
      <% end -%> 
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.room.roomid %></td>
        <td><%= booking.date %></td>
        <td><%= booking.start_time.hour %>:00</td>
        <td><%= booking.start_time.hour+2 %>:00</td>
        <%if admin_logged_in? %>
          <td><%= link_to booking.libraryuser_id.to_s, 'libraryusers/'+booking.libraryuser_id.to_s%></td>
        <% end -%>
        <td><%= link_to 'Show', booking %></td>
        <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
        <td><%= link_to 'Cancel booking', destroy_booking_path(booking), data: {confirm: "Are you sure?"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%#= link_to 'Edit', edit_libraryuser_path(@libraryuser) %> 
<%#= link_to 'Back', root_path %>
