<p id="notice"><%= notice %></p>
<p>
  <strong>Room No:</strong>
  <%= @booking.room.roomid %>
</p>
<p>
  <strong>Date:</strong>
  <%= @booking.date %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @booking.start_time %>
</p>

<p>
  <strong>Booked by:</strong>
  <%= @booking.libraryuser.name %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
