<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<h1>Search Rooms</h1>

<div>

  <div class="field">
    <%= f.label :status %>
    <%= f.select :status, [['Any','Any'],['Available','Available'],['Booked','Booked']] %>
  </div>

  <div class="field">
    <%= f.label :Room %>
    <%= f.text_field :Room  %>
  </div>

  <div class="field">
    <%= f.label :building %>
    <%= f.select :building, [['Any','Any'],['James B. Hunt','James B. Hunt'],['D. H. Hill','D. H. Hill']] %>
  </div>

  <div class="field">
    <%= f.label :size %>
    <%= f.select :size, [['Any','Any'],[4,4],[8,8],[12,12]] %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_field :date %>
  </div>

  <div class="field">
    <%= f.label :time %>
    <%= f.select :time, [['12 AM - 2 AM','12 AM - 2 AM'],['2 AM - 4 AM','2 AM - 4 AM']['4 AM - 6 AM','4 AM - 6 AM'],['6 AM - 8 AM','6 AM - 8 AM'],['8 AM - 10 AM','8 AM - 10 AM'],['10 AM - 12 PM','10 AM - 12 PM'],['12 PM - 2 PM','12 PM - 2 PM'],['2 PM - 4 PM','2 PM - 4 PM']['4 PM - 6 PM','4 PM - 6 PM'],['6 PM - 8 PM','6 PM - 8 PM'],['8 PM - 10 PM','8 PM - 10 PM'],['10 PM - 12 AM','10 PM - 12 AM']] %>
  </div>

  <%= link_to 'Search Rooms', search_rooms_path %>

</div>


<table>
  <thead>
  <tr>
    <th>Room</th>
    <th>Building</th>
    <th>size</th>
    <th>status</th>
    <th colspan="3">Operations</th>
  </tr>
  </thead>

  <tbody>
  <% @searchedRooms.each do |searchedRoom| %>
      <tr>
        <td><%= searchedRoom.roomid %></td>
        <td><%= searchedRoom.building %></td>
        <td><%= searchedRoom.size %></td>
        <td><%= searchedRoom.status %></td>
        <% if searchedRoom.status == "Available" || searchedRoom.status == "Pending" %>
          <td><%= link_to 'Book', book_room_path(searchedRoom) %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>
